<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
    <link href="@Url.Content("~/Css/def/em.wx.css")"   rel="stylesheet" type="text/css" />
    <title>业务查询</title>
</head>
<body>
    <div class="bd">
        <div>
            <table class="ywcx">
                <tr>
                    <td class="td_first">
                       <a href="@Url.Content("~/Ywcx/mscx")"></a>

                    </td>
                    <td class="td_second">
                        <a href="@Url.Content("~/Ywcx/dqr")"></a>

                    </td>
                    <td class="td_third">
                        <a href="@Url.Content("~/Ywcx/jfdh")"></a>
                    </td>
                </tr>
                <tr>
                    <td class="td_30">密码查询</td>
                    <td class="td_30">到期日查询</td>
                    <td class="td_30">积分服务</td>
                </tr>
                <tr>
                    <td class="td4">
                        <a href="@Url.Content("~/Ywcx/recharge")"></a>
                    </td>
                    <td class="td5">
                        <a href="wyyh"></a>
                    </td>
                    <td class="td6">
                        <a href="http://wap.emoney.cn"></a>
                    </td>
                </tr>
                <tr>
                    <td class="td_30">购买充值</td>
                    <td class="td_30">我要优惠</td>
                    <td class="td_30">软件下载</td>
                </tr>
            </table>
        </div>
        <br />
        <div class="index_bottom">
            益盟操盘手 创建于2002年<br>
            2013 益盟操盘手 版权所有<br>
            ICP许可证号 沪ICP备06000340
        </div>
    </div>
</body>
</html>
